@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

</head>

<body class="home_body">
    <header class="home_header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="home_container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Invest KG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MainPage" asp-action="MainPage">Mainpage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="home_container">
        <h2 class="home_text4">Welcome to</h2>
        <h1 class="welcome">IMPACT KG</h1>
        <h2 class="home_text1">Stop chasing your dream.</h2>
        <h2 class="home_text3">Face it!</h2>
        <h3 class="home_text2">Create. Invest. Engage.</h3>
        <div class="home_buttons">
            <a href="@Url.Action("Register", "Register")" class="home_btn">Register</a>
            <a href="@Url.Action("Login", "Login")" class="home_btn">Login</a>
        </div>
    </div>

    @* <script>
    $(document).ready(function () {
    var body = $("body");
    body.fadeIn(600);

    $(document).on("click", "a:not([href^='#']):not([href^='tel']):not([href^='mailto'])", function (e) {
    e.preventDefault();
    $("body").fadeOut(600);
    var self = this;
    setTimeout(function () {
    window.location.href = $(self).attr("href");
    }, 1000);
    });
    });
    </script> *@
</body>
</html>