@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.home_body {
  
    background: white; /* Начальное состояние: белый экран */
    position: relative;
    overflow: hidden;
    min-height: 100vh; /* Обеспечивает высоту экрана */
}

.home_body::before {
    content: '';
    position: absolute;
    top: -550%; /* Начальное положение: значительно выше верхней границы экрана */
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgb(68, 68, 133), white 100%);
    animation: backgroundSlideIn 2.3s forwards;
    z-index: -1; /* Размещаем псевдоэлемент на задний план */
}

@keyframes backgroundSlideIn {
    to {
        top: 0; /* Конечное положение: занимает весь экран */
    }
}
.home_container {
    margin-top: 80px; /* Отступ сверху */
    text-align: center;
    opacity: 0;
    filter: blur(10px); /* Начальное состояние: размытость */
    transform: translateY(50px); /* Начальная позиция ниже */
    animation: fadeInUp 2.5s forwards;
}


@keyframes fadeInUp {
    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0); /* Конечная позиция */
    }
}


.home_buttons {
    margin-top: 20px;
    opacity: 65%;
}

.home_btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.3s, background-color 0.3s; /* Плавный переход для изменения размера и цвета фона */
    text-decoration: none; /* Убираем подчеркивание текста кнопки */
}

    .home_btn:hover {
        background-color: #333;
        color: white;
    }
.home_text4 {
    margin-top: 100px;
    font-family: 'Poiret One', cursive; /* Устанавливаем шрифт Poiret One для заголовков */
    font-size: 2em; /* Размер шрифта */
    color: white; /* Цвет текста */
    padding: 0px;
}

.welcome {
    font-weight: bold;
    font-size: 8em;
    color: white;
}


.home_text1 {
    margin-top: 40px;
    font-family: 'Poiret One', cursive; /* Устанавливаем шрифт Poiret One для заголовков */
    font-size: 2em; /* Размер шрифта */
    color: white; /* Цвет текста */
    opacity: 0; /* Начальное состояние: невидимость */
    animation: fadeInText 1s forwards 1s; /* Анимация появления с задержкой 3 секунды */
}

@keyframes fadeInText {
    to {
        opacity: 1; /* Конечное состояние: полная видимость */
    }
}

.home_text3 {
    font-family: 'Poiret One', cursive; /* Устанавливаем шрифт Poiret One для заголовков */
    font-size: 4em; /* Размер шрифта */
    color: white; /* Цвет текста */
    opacity: 0; /* Начальное состояние: невидимость */
    animation: fadeInText3 0.3s forwards 2.5s; /* Анимация появления с задержкой 3 секунды */
}

@keyframes fadeInText3 {
    to {
        opacity: 1; /* Конечное состояние: полная видимость */
    }
}

.home_text2 {
    margin-top: 40px;
    font-family: 'Poiret One', cursive; /* Устанавливаем шрифт Poiret One для заголовков */
    font-size: 25px; /* Размер шрифта */
    color: black; /* Цвет текста */
}










/* styles.css */

.reg_body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    overflow: hidden; /* добавляем свойство overflow: hidden; чтобы убрать горизонтальный скролл, если он появляется */
    position: relative; /* добавляем свойство position: relative; чтобы псевдоэлемент был относительно блока */
    min-height: 100vh; /* добавляем свойство min-height: 100vh; чтобы блок занимал весь видимый экран */
}

    .reg_body::before {
        content: '';
        position: absolute;
        top: -550%; /* Начальное положение: значительно выше верхней границы экрана */
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgb(68, 68, 133), white 100%);
        animation: backgroundSlideIn 2.3s forwards;
        z-index: -1; /* Размещаем псевдоэлемент на задний план */
    }

@keyframes backgroundSlideIn {
    to {
        top: 0; /* Конечное положение: занимает весь экран */
    }
}

.reg_container {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Добавляем выравнивание текста по центру */
    opacity: 0; /* Начальное состояние: невидимость */
    filter: blur(10px); /* Начальное состояние: размытость */
    transform: translateY(50px); /* Начальная позиция ниже */
    animation: fadeInUp 1.5s forwards; /* Анимация появления */
}

@keyframes fadeInUp {
    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0); /* Конечная позиция */
    }
}

    .reg_container h1 {
        margin-top: 0;
        font-size: 24px;
        text-align: center;
    }

.reg_form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

.reg_button {
    opacity: 65%;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black; /* Изменяем цвет фона кнопки на черный */
    color: #fff; /* Устанавливаем цвет текста кнопки на белый */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.reg_button:hover {
    background-color: #333;
    color: white;
}






.login_body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Добавляем свойство overflow: hidden; чтобы убрать горизонтальный скролл, если он появляется */
    position: relative; /* Добавляем свойство position: relative; чтобы псевдоэлемент был относительно блока */
    min-height: 100vh; /* Добавляем свойство min-height: 100vh; чтобы блок занимал весь видимый экран */
}

    .login_body::before {
        content: '';
        position: absolute;
        top: -550%; /* Начальное положение: значительно выше верхней границы экрана */
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgb(68, 68, 133), white 100%);
        animation: backgroundSlideIn 2.3s forwards;
        z-index: -1; /* Размещаем псевдоэлемент на задний план */
    }

@keyframes backgroundSlideIn {
    to {
        top: 0; /* Конечное положение: занимает весь экран */
    }
}

.login_container {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Добавляем выравнивание текста по центру */
    opacity: 0; /* Начальное состояние: невидимость */
    filter: blur(10px); /* Начальное состояние: размытость */
    transform: translateY(50px); /* Начальная позиция ниже */
    animation: fadeInUp 1.5s forwards; /* Анимация появления */
}

@keyframes fadeInUp {
    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0); /* Конечная позиция */
    }
}

.login_submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black; /* Изменяем цвет фона кнопки на черный */
    color: #fff; /* Устанавливаем цвет текста кнопки на белый */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.login_container {
    max-width: 400px;
    margin: 150px auto; /* Отступы сверху и снизу автоматически выравнят контейнер по центру экрана */
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Добавляем выравнивание текста по центру */
    opacity: 0; /* Начальное состояние: невидимость */
    filter: blur(10px); /* Начальное состояние: размытость */
    transform: translateY(50px); /* Начальная позиция ниже */
    animation: fadeInUp 1.5s forwards; /* Анимация появления */
}
.login_form {
    margin-top: 20px;
}

.login_group {
    margin-bottom: 15px;
}

    .login_group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .login_group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

.login_submit {
    background-color: black;
    color: white;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.3s, background-color 0.3s; 
    text-decoration: none; 
}

    .login_submit:hover {
        background-color: #333;
        color: white;
    }
