
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('site.css');
@import url('site.css');
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}
.home_header {
    opacity: 0;
}

.home_body {
    background: white; 
    position: relative;
    overflow: hidden;
    min-height: 100vh; 
}

    .home_body::before {
        content: '';
        position: absolute;
        top: -550%;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgb(68, 68, 133), white 100%);
        animation: backgroundSlideIn 2.3s forwards;
        z-index: -1;
    }

@keyframes backgroundSlideIn {
    to {
        top: 0; 
    }
}
.home_container {
    text-align: center;
    opacity: 0;
    filter: blur(10px); 
    transform: translateY(50px); 
    animation: fadeInUp 2.5s forwards;
}


@keyframes fadeInUp {
    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0); 
    }
}


.home_buttons {
    margin-top: 20px;
    opacity: 65%;
}

.home_btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.3s, background-color 0.3s; 
    text-decoration: none; 
}

    .home_btn:hover {
        background-color: #333;
        color: white;
    }
.home_text4 {
    margin-top: 100px;
    font-family: 'Poiret One', cursive; 
    font-size: 2em; 
    color: white; 
}

.welcome {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 8em;
    color: white;
}


.home_text1 {
    margin-top: 10px;
    font-family: 'Poiret One', cursive; 
    font-size: 2em;
    color: white; 
    opacity: 0; 
    animation: fadeInText 1s forwards 1.8s; 
}

@keyframes fadeInText {
    to {
        opacity: 1; 
    }
}

.home_text3 {
    font-family: 'Poiret One', cursive; 
    font-size: 4em; 
    color: white; 
    opacity: 0; 
    animation: fadeInText3 0.5s forwards 3.3s; 
}

@keyframes fadeInText3 {
    to {
        opacity: 1; 
    }
}

.home_text2 {
    margin-top: 10px;
    font-family: 'Poiret One', cursive; 
    font-size: 25px; 
    color: black; 
}










/* Регистрационная форма */
.reg_body {
    position: relative;
    min-height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

    .reg_body::before {
        content: '';
        position: fixed; 
        top: -550%; 
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgb(68, 68, 133), white);
        animation: backgroundSlideIn 2.3s forwards;
        z-index: -1;
        pointer-events: none; 
    }

@keyframes backgroundSlideIn {
    0% {
        top: -100%; 
    }

    100% {
        top: 0; 
    }
}

.reg_container {
    text-align: center;
    opacity: 0;
    filter: blur(10px); 
    transform: translateY(50px); 
    animation: fadeInUp 2.5s forwards;
    max-width: 800px; 
    margin: 100px auto; 
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px; 
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    border-radius: 16px; 
    box-sizing: border-box; 
}

@keyframes fadeInUp {
    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0); 
    }
}

.reg_container h1 {
    margin-top: 0;
    font-size: 32px; 
}

.reg_form {
    font-family: 'Poiret One', cursive;
    margin-top: 40px; 
}

.form_group {
    margin-bottom: 30px; 
}

    .form_group label {
        display: block;
        margin-bottom: 10px; 
        font-weight: bold;
        font-size: 1.2em; 
    }

.form_control {
    width: 100%;
    padding: 16px; 
    border: 1px solid #ccc;
    border-radius: 6px; 
    font-size: 1.2em; 
}

.reg_button {
    display: block;
    width: 100%;
    padding: 20px; 
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    text-decoration: none;
    opacity: 65%;
    font-size: 1.2em; 
}

    .reg_button:hover {
        background-color: #333;
        color: white;
    }

.additional_form h2 {
    margin-top: 0;
    font-size: 28px; 
}

.additional_form .form_control {
    margin-bottom: 20px; 
    padding: 16px; 
    font-size: 1.2em; 
}

.login_body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    position: relative; 
    min-height: 100vh; 
}

    .login_body::before {
        content: '';
        position: absolute;
        top: -550%; 
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgb(68, 68, 133), white);
        animation: backgroundSlideIn 2.3s forwards;
        z-index: -1;
        pointer-events: none; 
    }

.login_container {
    width: 800px; 
    max-height: 800px; 
    margin: 100px auto; 
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px; 
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    text-align: center; 
    opacity: 0; 
    filter: blur(10px); 
    transform: translateY(50px); 
    animation: fadeInUp 2.5s forwards; 
}

.login_group {
    margin-bottom: 30px; 
}

    .login_group label {
        display: block;
        margin-bottom: 10px; 
        font-weight: bold;
        font-size: 1.2em; 
    }

    .login_group input {
        width: 100%;
        padding: 16px; 
        border: 1px solid #ccc;
        border-radius: 6px; 
        font-size: 1.2em; 
    }

.login_submit {
    display: block;
    width: 100%;
    padding: 20px;
    background-color: black;
    color: white;
    margin: 10px; 
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    font-size: 1.2em; 
    transition: transform 0.3s, background-color 0.3s;
    text-decoration: none;
}

    .login_submit:hover {
        background-color: #333;
        color: white;
    }

.login_form {
    margin-top: 40px; 
}








body, header {
            margin: 0;
            padding: 0;
        }

.login_header {
    opacity: 0;
}
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Poiret One', cursive;
}

.mainPage_body {
    background: white;
    position: relative;
    overflow: auto;
    min-height: 100vh;

}

    .mainPage_body::before {
        content: '';
        position: absolute;
        top: -550%;
        left: 0;
        right: 0;
        position: fixed;
        bottom: 0;
        background: linear-gradient(to bottom, rgb(68, 68, 133), white 100%);
        animation: backgroundSlideIn 2.3s forwards;
        z-index: -1;
    }

@keyframes backgroundSlideIn {
    to {
        top: 0;
    }
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
}

    .dropdown-menu a:hover {
        background-color: #f1f1f1;
    }

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.list-group {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250px; 
    background-color: white; 
    overflow-y: auto; 
}

.list-group-item {
    height: 58.4px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
}

    .list-group-item a {
        color: #333;
        text-decoration: none;
    }

    .list-group-item:hover {
        background-color: rgb(108, 108, 165);
    }

        .list-group-item:hover a {
            color: white;
        }

.btn-outline-secondary {
    color: black;
    border-color: black;
}

    .btn-outline-secondary:hover {
        color: white;
        background-color: black;
        border-color: black;
    }

.btn-outline-primary {
    color: black;
    border-color: black;
}

    .btn-outline-primary:hover {
        color: white;
        background-color: black;
        border-color: black;
    }






.proj_body {
    position: relative;
    min-height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .proj_body::before {
        content: '';
        position: fixed;
        top: -550%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgb(68, 68, 133), white);
        animation: backgroundSlideIn 2.3s forwards;
        z-index: -1;
        pointer-events: none; 
    }

@keyframes backgroundSlideIn {
    0% {
        top: -100%;
    }

    100% {
        top: 0;
    }
}

.proj_container {
    text-align: center;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px; 
    box-sizing: border-box; 
}

@keyframes fadeInUp {
    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
}

.proj_h1 {
    font-family: 'Poiret One', cursive;
    font-size: 4em; 
}

.proj_container h1 {
    margin-top: 0;
    font-size: 32px; 
}

.proj_form {
    font-family: 'Poiret One', cursive;
    margin-top: 40px; 
}

.proj_form_group {
    margin-bottom: 30px; 
}

    .proj_form_group label {
        display: block;
        margin-bottom: 10px; 
        font-size: 1.2em; 
    }

.proj_form_control {
    width: 100%;
    padding: 16px; 
    border: 1px solid #ccc;
    border-radius: 6px; 
    font-size: 1.2em; 
}

.proj_button {
    display: block;
    width: 100%;
    padding: 20px; 
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    text-decoration: none;
    opacity: 65%;
    font-size: 1.2em; 
}

    .proj_button:hover {
        background-color: #333;
        color: white;
    }

.additional_form h2 {
    margin-top: 0;
    font-size: 28px; 
}

.additional_form {
    font-family: 'Poiret One', cursive;
}

.proj_form_control::placeholder {
    font-family: 'Poiret One', cursive;
    font-size: 1.2em;
}



.proj_main_body {
    margin-left: -20px;
}

.project-card-body {
    color: black;
    font-family: 'Poiret One', cursive;
}

.card-title {
    color: black;
    font-family: 'Poiret One', cursive;
    font-size: 3em;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.card-text-1 {
    padding: 0;
    margin: 0;
}

.proj_form_container {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    box-sizing: border-box;
    animation: fadeInUpProj 2.5s forwards;
    margin-bottom: 20px; /* Добавляем отступ снизу для каждого контейнера */
}

@keyframes fadeInUpProj {
    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    background-color: transparent;
    border: none;
}

.project-card-body {
    padding: 20px; /* Добавляем внутренний отступ для содержимого карточки */
}

img {
    max-width: 100%;
    height: auto;
}

.card-text-1 {
    font-size: 2em;
}
.card-text-2 {
    font-size: 1.5em;
}

.proj_main_body {
    margin-left: 100px;
}
.btn.btn-primary.project-details-link {
    background-color: rgb(108, 108, 165);
    border: none;
}









.project-details-body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .project-details-body::before {
        overflow: auto;
        content: '';
        position: fixed;
        top: -550%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgb(68, 68, 133), white);
        animation: backgroundSlideInProj 2.3s forwards;
        z-index: -1;
        pointer-events: none;
    }

@keyframes backgroundSlideInProj {
    0% {
        top: -100%;
    }

    100% {
        top: 0;
    }
}
.project_details_container {

}

.top-half-project {
    font-family: 'Poiret One';
    text-align: center;
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-sizing: border-box;
}

.project-description {
    font-family: 'Poiret One';
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.project-category {
    font-family: 'Poiret One';
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.project-dates {
    font-family: 'Poiret One';
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.proj_participants {
    font-family: 'Poiret One';
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.proj_investors {
    font-family: 'Poiret One';
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

@keyframes fadeInUp {
    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
}

.proj_budget {
    font-family: 'Poiret One';
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}




.profile_form_container {

}

.proj_body_profile {
}
.proj_body_profile {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .proj_body_profile::before {
        content: '';
        position: fixed;
        top: -550%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgb(68, 68, 133), white);
        animation: backgroundSlideInProj 2.3s forwards;
        z-index: -1;
        pointer-events: none;
    }

@keyframes backgroundSlideInProj {
    0% {
        top: -100%;
    }

    100% {
        top: 0;
    }
}

.proj_body_profile .card-title {
    font-family: 'Poiret One';
    text-align: center;
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    animation: fadeInUp 2.5s forwards;
}

.proj_body_profile .card-text {
    font-family: 'Poiret One';
    text-align: center;
    font-size: 20px;
    color: white;
    animation: fadeInUp 2.5s forwards;
}

.profile-card-text {
    font-family: 'Poiret One';
    text-align: center;
    font-size: 18px;
    color: white;
    animation: fadeInUp 2.5s forwards;
}

    .profile-card-text h5 {
        font-size: 24px;
        color: #ffd700;
        margin-bottom: 10px;
    }

.profile_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Добавляем столбцовую ориентацию для элементов */
    text-align: center; /* Центрируем текст внутри блока */
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    color: white;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

    .profile_form_container:last-child {
        margin-bottom: 0;
    }

.profile-card-body {
    font-family: 'Poiret One';
    opacity: 0;
    filter: blur(10px);
    transform: translateY(50px);
    animation: fadeInUp 2.5s forwards;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    color: white;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

    .profile-card-body:last-child {
        margin-bottom: 0;
    }

    .profile-card-body .profile-card-title {
        font-size: 24px;
        color: white;
        margin-bottom: 10px;
    }

    .profile-card-body .profile-card-text {
        font-size: 16px;
        color: white;
        margin-bottom: 10px;
    }

        .profile-card-body .profile-card-text small {
            font-size: 14px;
            color: white;
        }

    .profile-card-body img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

@keyframes fadeInUp {
    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
}