@* @using FinalProject.Application.Contracts
@using FinalProject.Domain.Entities
@model User

<h1>Creator</h1>


<form asp-controller="Register" asp-action="ParticipantRegister">
    <div>

        <label>Name</label>
        <input class="form-control ml-2" type="text"
               placeholder="Mary"
               asp-for="Participant.Name"
               required />

        <label>Last name</label>
        <input class="form-control ml-2" type="text"
               placeholder="Kreestmuz"
               asp-for="Participant.LastName" />

        <label>Bio - optional</label>
        <input class="form-control ml-2" type="text"
               placeholder="Tell something about yourself!"
               asp-for="Participant.Bio" />

        <label>Work experience - optional</label>
        <input class="form-control ml-2" type="text"
               placeholder="Example: Worked as [position] in the [company name]"
               asp-for="Participant.WorkExperience"
               required />

        <label>Achievements - optional</label>
        <input class="form-control ml-2" type="text"
               placeholder="What are you most proud of?"
               asp-for="Participant.Achievements"
               />

        <label>Skills - optional</label>
        <input class="form-control ml-2" type="text"
               placeholder="Fast learner, SMM specialist, professional dancer..."
               asp-for="Participant.Skills"
               />

        <label>Links</label>
        <input class="form-control ml-2" type="text"
               placeholder="Mary"
               asp-for="Participant.Links"
               />

    </div>
    <button class="btn btn-primary mt-2" type="submit">Save</button>
</form>
 *@