@using FinalProject.Application.Contracts
@using FinalProject.Domain.Enums
@model UserCreateDto

<div class="reg_body">
    <div class="reg_container">
        <h1>Registration</h1>

        <form asp-controller="Register" asp-action="RegisterForm" method="post" class="reg_form" id="registration-form">
            <div class="form_group">
                <label>Login</label>
                <input class="form_control" type="text" placeholder="spiderman3000" maxlength="20" asp-for="Login" required />

                <label>Password</label>
                <input class="form_control" type="password" placeholder="Use secure and complex passwords." maxlength="20" asp-for="Password" required />

                <label>Role</label>
                <select class="form_control" asp-for="Role" id="role-select" required>
                    <option value="">Select role</option>
                    @foreach (var role in (List<string>)ViewBag.Roles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div id="investor-form" class="additional_form" style="display: none;">
                <h2>Investor Information</h2>
                <label>Name</label>
                <input class="form_control" type="text" placeholder="enter..." asp-for="Investor.Name" />

                <label>Description</label>
                <input class="form_control" type="text" placeholder="Tell people about you" maxlength="300" asp-for="Investor.Description" />

                <label>Type</label>
                <select class="form_control" asp-for="Investor.Type" id="investor-type-select">
                    <option value="">Select type</option>
                    @foreach (var type in (List<string>)ViewBag.InvestorTypes)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
                <span asp-validation-for="Investor.Type" class="text-danger"></span>
            </div>

            <div id="participant-form" class="additional_form" style="display: none;">
                <h2>Participant Information</h2>
                <label>Name</label>
                <input class="form_control" type="text" placeholder="Mary" asp-for="Participant.Name" maxlength="30" />

                <label>Last name</label>
                <input class="form_control" type="text" placeholder="Kreestmuz" asp-for="Participant.LastName" maxlength="30" />

                <label>Bio</label>
                <input class="form_control" type="text" placeholder="Tell something about yourself!" asp-for="Participant.Bio" maxlength="90" />

                <label>Work experience</label>
                <input class="form_control" type="text" placeholder="Example: Worked as [position] in the [company name]" asp-for="Participant.WorkExperience" maxlength="200" />

                <label>Achievements</label>
                <input class="form_control" type="text" placeholder="What are you most proud of?" asp-for="Participant.Achievements" />

                <label>Skills</label>
                <input class="form_control" type="text" placeholder="Fast learner, SMM specialist, professional dancer..." asp-for="Participant.Skills" />

                <label>Links</label>
                <input class="form_control" type="text" placeholder="Enter links..." asp-for="Participant.Links" />
            </div>

            <button type="submit" class="reg_button" id="submit-button">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var roleSelect = document.getElementById('role-select');
            var investorForm = document.getElementById('investor-form');
            var participantForm = document.getElementById('participant-form');
            var submitButton = document.getElementById('submit-button');

            roleSelect.addEventListener('change', function () {
                var selectedRole = roleSelect.value;
                if (selectedRole === 'Investor') {
                    investorForm.style.display = 'block';
                    participantForm.style.display = 'none';
                    submitButton.disabled = false;
                } else if (selectedRole === 'Participant') {
                    participantForm.style.display = 'block';
                    investorForm.style.display = 'none';
                    submitButton.disabled = false;
                } else {
                    investorForm.style.display = 'none';
                    participantForm.style.display = 'none';
                    submitButton.disabled = true;
                }
            });
        });
    </script>
}
