@page
@model FinalProject.MVC.Views.MainPage.MainPageModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page - FinalProject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mainPage.styles.css" />
    <link rel="stylesheet" href="~/Views/MainPage/MainPage.cshtml.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body class="mainPage_body">
        

        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">My projects</a></li>
                    <li class="list-group-item"><a href="#">Settings</a></li>
                    <li class="list-group-item"><a href="#">Projects</a></li>
                    <li class="list-group-item"><a href="#">Creators</a></li>
                    <li class="list-group-item"><a href="#">Investors</a></li>
                </ul>
            </div>
            <div class="col-md-9">
                <!-- Main content goes here -->
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
