@using FinalProject.Domain.Entities
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
@model User
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main Page - FinalProject</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mainPage.styles.css" />
    <link rel="stylesheet" href="~/Views/MainPage/MainPage.cshtml.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>
<body class="mainPage_body">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item"><a asp-controller="Profile" asp-action="ShowMyProfile">My profile</a></li>
                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Investor"))
                    {
                        <li class="list-group-item"><a asp-controller="Project" asp-action="Project">Create new project</a></li>
                    }
                    @* <li class="list-group-item"><a id="ProjectsLink" href="#">projects</a></li> *@
                    @* <li class="list-group-item"><a href="#">Creators</a></li> *@
                    @* <li class="list-group-item"><a href="#">Investors</a></li> *@
                    @* <li class="list-group-item" style="color: red"><a href="#">Log out</a></li> *@
                </ul>
            </div>
        </div>
    </div>
    <div id="projectsContainer">
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("ShowProjects", "MainPage")',
                type: 'GET',
                success: function (result) {
                    $('#projectsContainer').html(result);
                },
                error: function () {
                    console.error('Failed to load projects.');
                }
            });
        });
        $(function () {
            $('#ProjectsLink').click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("ShowProjects", "MainPage")',
                    type: 'GET',
                    success: function (result) {
                        $('#projectsContainer').html(result);
                    },
                    error: function () {
                        console.error('Failed to load projects.');
                    }
                });
            });
        });
    </script>
</body>
</html>
